* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'bagel fat one';
}

.nav-link:hover {
  color: #F8C000 !important;
}

.btn:hover {
  background-color: #F8C000 !important;
  color: black !important;
}

.img-transform:hover, .card-transform:hover {
  transform: scale(1.05) !important;
  transition: transform 0.3s ease !important; 
}

.btn-top:hover {
  background-color: #020E1B !important;
  color: white !important;
}

.counter {
  font-size: 3rem;
  color:#F8C000;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 767px) {
  .card-wrapper, .card {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0 !important;
  }
}

@media (min-width:610px) and (max-width: 1198px) {
  .responsive-about {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width:500px) and (max-width: 999px) {
  .responsive-text {
    padding-top: 100px;
    padding-left: 120px !important;
  }
}

@media (min-width:1000px) and (max-width: 1199px) {
  .responsive-text {
    position: absolute;
    max-width: 500px;
  }
  .responsive-homeimg {
    position: relative;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .responsive-text {
    padding-top: 80px;
    padding-left: 70px !important;
  }
}

/* ... outras regras CSS ... */

.lazy-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 0.5s ease;
}

.lazy-section.loaded {
  opacity: 1;
  transform: translateY(0);
}
